[submodule "00-Libft"]
	path = 00-Libft
	url = git@github.com:ImWayden/00-Libft.git
[submodule "01-ft_printf"]
	path = 01-ft_printf
	url = git@github.com:ImWayden/01-ft_printf.git
[submodule "02-Get_Next_Line"]
	path = 02-Get_Next_Line
	url = git@github.com:ImWayden/02-Get_Next_Line.git
