[submodule "00-Libft"]
	path = 00-Libft
	url = git@github.com:ImWayden/00-Libft.git
[submodule "01-ft_printf"]
	path = 01-ft_printf
	url = git@github.com:ImWayden/01-ft_printf.git
[submodule "02-Get_Next_Line"]
	path = 02-Get_Next_Line
	url = git@github.com:ImWayden/02-Get_Next_Line.git
[submodule "My_Libft"]
	path = My_Libft
	url = git@github.com:ImWayden/My_Libft.git
[submodule "03-Born2BeRoot"]
	path = 03-Born2BeRoot
	url = git@github.com:ImWayden/03-Born2BeRoot.git
[submodule "04-Push_Swap"]
	path = 04-Push_Swap
	url = git@github.com:ImWayden/04-Push_Swap.git
[submodule "05-fract-ol"]
	path = 05-fract-ol
	url = git@github.com:ImWayden/05-fract-ol.git
